body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 20px;
}

header{
    background-color: rgb(4, 15, 75);
    color: white;
    text-align: center;
    padding: 15px;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

section{
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 1);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 10px;
}

th, td{
    border: 1px solid black;
}

form input, form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px, 0;
    box-sizing: border-box;
}

label{
    font-weight: bold;
}

.formgroup{
    margin-bottom: 10px;
}

input[type="submit"]{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

input[type="submit"]:hover{
    background-color: rgb(21, 21, 77);
    cursor: pointer;
}